
.thumb{
    height: 450px;
    width: 425px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}
.well-sm{
  background-color: #F5F5F5;
}
.well-alert{
  padding: 5px;
}

.box-header .box-title{
    display: inline-block;


}

.box-header{

	 padding: 10px !important;
	 margin-bottom: 0px;
}

.agile-list li{
	padding:0px !important;
}

.box-info{

	padding: 8px;
}



